@font-face {
  font-display: swap;
  font-family: "RedHatDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("../font/RedHatDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "RedHatDisplay";
  font-style: normal;
  font-weight: 600;
  src: url("../font/RedHatDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "RedHatDisplay";
  font-weight: 900;
  src: url("../font/RedHatDisplay-Bold.woff2") format("woff2");
}
