:root {
  font-family: "Lexend";
  line-height: 1.75;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background: linear-gradient(to right, #0066ff 0%, #cc33ff 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

button {
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: black;
  cursor: pointer;
  border: 2px solid black;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

button:hover {
  background-color: transparent;
  color: black;
  border: 2px solid blue;
}

h1,
h2 {
  font-weight: 700;
  margin: 0 0 25px 0;
  font-size: 80px;
}

h3 {
  font-size: 30px;
}

ul,
ol {
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
